<div
  class="w-screen h-screen flex flex-col bg-gradient-to-br from-[#1e1e1e] via-[#2c2c2c] to-[#252526] text-white overflow-hidden contain-layout">
  <!-- Desktop content area -->
  <div class="flex-1 relative" (click)="hideMenu()">
    <div class="absolute top-6 left-6 flex flex-col gap-4">
      @for (app of apps; track app.id) {
        <app-app-icon [icon]="app.icon" [label]="app.label" (open)="onLaunch(app)" />
      }
    </div>

    <!-- Floating menu panel -->
    @if (showMenu()) {
      <app-menu class="absolute bottom-0 left-2 z-[1000]"
        (appLaunch)="toggleMenu()"
      />
    }
  </div>

  <!-- Open windows -->
  @for (win of windows(); track win.instanceId) {
    <div class="absolute" [style.left.px]="win.position.x" [style.top.px]="win.position.y"
      [style.z-index]="win.zIndex" [hidden]="win.state === 'MINIMIZED'"
    >
      @switch (win.appId) {
        @case (DesktopAppId.Notepad) {
          <app-notepad [instance]="win"></app-notepad>
        }
        @case (DesktopAppId.WorkdayCalculator) {
          <app-workday-calculator [instance]="win"></app-workday-calculator>
        }
      }
    </div>
  }

  <!-- Taskbar -->
  <app-taskbar style="z-index: 1000000;" (menuToggle)="toggleMenu()" />
</div>
