<app-window [instance]="instance">
  <div class="flex flex-col h-full w-full text-white text-sm">
    <!-- History display -->
    <div class="h-10 overflow-auto border-b border-[#444] p-2 text-xs">
      @for (entry of history(); track entry) {
        <div class="whitespace-nowrap overflow-x-auto">
          {{ entry }}
        </div>
      }
    </div>

    <!-- Input result -->
    <div class="h-12 bg-[#111] border-b border-[#444] px-2 flex items-center justify-end font-mono text-base">
      {{ display() || '0' }}
    </div>

    <!-- error -->
    <div class="h-5 px-2 flex items-center justify-end text-red-500 text-xs">
      {{ result().error ?? '' }}
    </div>

    <!-- Calculator key grid -->
    <div class="flex-1 grid grid-cols-4 gap-1 p-2 bg-[#1e1e1e] text-white text-lg select-none">
      @for (key of CALCULATOR_KEYS; track key) {
        <button
          class="py-3 rounded flex items-center justify-center"
          [ngClass]="{
            'col-span-2': key === '0',
            'bg-[#2a2a2a] hover:bg-[#3a3a3a]': key !== CalculatorKeyInput.ENTER,
            'bg-blue-700 hover:bg-blue-800': key === CalculatorKeyInput.ENTER
          }"
          (click)="press(key)"
        >
          @if (CALCULATOR_KEY_DISLPAY[key]; as icon) {
            @if (typeof icon !== 'string') {
              <lucide-icon [img]="icon" class="w-5 h-5" />
            } @else {
              {{ icon }}
            }
          }
        </button>
      }
    </div>
  </div>
</app-window>
