<div class="absolute top-24 left-24 w-96 bg-[#1e1e1e] border border-[#3c3c3c] rounded shadow-lg text-white">
  <!-- Title bar -->
  <div class="flex items-center justify-between bg-[#2a2a2a] px-3 py-1 border-b border-[#444]">
    <span class="text-sm font-bold">{{ appTitle() }}</span>
    <div class="flex flex-row gap-1">
        <!-- minimize -->
        <button
          class="text-xs px-2 py-0.5 bg-[#444] hover:bg-[#555] rounded"
          (click)="minimize()"
        >
          <lucide-icon [img]="MinusIcon" [size]="14"></lucide-icon>
        </button>

        <!-- maxmize or restore -->
        <button
          class="text-xs px-2 py-0.5 bg-[#444] hover:bg-[#555] rounded"
          (click)="maximizeOrRestore()"
        >
          <lucide-icon [img]="maxOrRestoreIcon()" [size]="14"></lucide-icon>
        </button>

        <!-- close -->
        <button
          class="text-xs px-2 py-0.5 bg-[#444] hover:bg-[#555] rounded"
          (click)="close()"
        >
          <lucide-icon [img]="XIcon" [size]="14"></lucide-icon>
        </button>
    </div>
  </div>

  <!-- Content slot -->
  <div class="p-3">
    <ng-content />
  </div>
</div>
